@{
  Layout = "_Layout";
}

<h1>Album Details: </h1>

<h2>@Model["album"].GetDescription()</h2>
<h3>Artist: @Model["artist"].GetName()</h3>

<a href='/artists/@Model["artist"].GetId()/albums/new'>Add another album</a><br>
<a href='/artists'>View all artists</a>