@{
  Layout = "_Layout";
}


<h1>Search For an Artist</h1>
<p>Search for Artist here:</p>

<form action="/artists/search" method="post">
  <label for="searchName">Artist name: </label>
  <input id="searchName" name="searchName" type="text">
  <button type="submit">Search</button>
</form>